/*Sirve para importar la fuente “Poppins” desde Google Fonts al css*/
/*basicamente sirve para hacer que todos los textos usen la fuente Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


/*esto * es un selector de css que selecciona todos los elementos del documento*/
* {
    margin: 0; /*elimina el margen exterior de todos los elementos es como un lienzo limpio para dieseñar 
                    sin las margenes del navegador.*/
    padding: 0; /*elimina el "relleno" interior de todos los elementos.*/
    box-sizing: border-box; /*hace que el tamaño de los elementos se ajuste al contenedor.*/
    font-family: 'Poppins', sans-serif; /*cambia el tipo de letra de los elementos a Poppins*/
}

body {
    display: flex; /*hace que el contenido se muestre en la parte superior y inferior.*/
    justify-content: center; /*centra el contenido horizontalmente.*/
    align-items: center; /*centra el contenido verticalmente.*/
    height: 100vh; /*establece el alto y el ancho de la página.*/
    background-color: #8e949c; /*cambia el fondo de la página.*/
    animation: fadeIn 1s ease-in; /*anima la página en un instante.*/
}

@keyframes fadeIn { /*anima la página en un instante.*/
    from { /*cuando la animación comienza, establece el estado inicial.*/
        opacity: 0; /*establece la opacidad a 0.*/
        transform: scale(0.98); /*establece el tamaño a 0.98.*/
    } /*cuando la animación termina, establece el estado final.*/
    to { 
        opacity: 1; /*establece la opacidad a 1.*/
        transform: scale(1); /*establece el tamaño a 1.*/
    } 
}

/*estilos para el contenedor principal*/
.container { /*establece el tamaño y el fondo de la página.*/
    display: flex; /*hace que el contenido se muestre en la parte superior y inferior.*/
    width: 1000px; /*establece el ancho de la página.*/
    height: 600px; /*establece el alto de la página.*/
    background: #ffffff; /*establece el fondo de la página.*/
    border-radius: 10px; /*establece el borde de la página.*/
    overflow: hidden; /*oculta el contenido que no cabe dentro de la página.*/
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /*establece un efecto de sombra.*/
    animation: slideUp 0.8s ease; /*anima la página en un instante.*/
} 

/*anima la página*/
@keyframes slideUp { 
    from { 
        transform: translateY(30px); /*establece el tamaño a 30px.*/
        opacity: 0; /*establece la opacidad a 0.*/
    }
    to {
        transform: translateY(0); /*establece el tamaño a 0.*/
        opacity: 1; /*establece la opacidad a 1.*/
    }
}

/*barra lateral*/
.logo-section {
  width: 35%; /*establece el ancho del recuadro del logo.*/
  background: #f4b6c2; /*establece el fondo del recuadro del logo.*/
  display: flex; /*hace que el contenido se muestre en la parte superior y inferior.*/
  flex-direction: column; /*hace que el contenido se muestre en columnas.*/
  justify-content: center; /*centra el contenido verticalmente.*/
  padding: 20px; /*establece el espacio entre el contenido y el borde del recuadro.*/
  transition: background 0.4s ease; /*anima la página en un instante.*/

}

/*estilos para el logo*/
.logo-section:hover {
  background: #f292b4; /*cambia el fondo del recuadro del logo al pasar el mouse por encima.*/
}


.logo-section img {
  width: 75%; /*establece el ancho del logo.*/
  transition: transform 0.3s ease; /*anima la imagen del logo al pasar el mouse por encima.*/
}


.logo-section img:hover {
  transform: scale(1.05); /*aumenta el tamaño del logo al pasar el mouse por encima.*/
}

/*estilos para los botones del menú*/
.menu-buttons ul {
  list-style: none;  /*elimina los puntos de la lista*/
  padding: 0; /*elimina el relleno de la lista*/
  margin-top: 20px; /*margen superior de 20px*/
  width: 100%; /*establece el ancho de los botones del menú.*/
}


.menu-buttons li {
  margin-bottom: 10px; /*margen inferior de 10px entre los botones del menú*/
}


.menu-buttons a{
  display: block; /*hace que el enlace ocupe todo el ancho del botón*/
  padding: 12px; /*agrega un poco de espacio alrededor del texto del botón*/
  background: #ffffff90; /*cambia el fondo de los botones del menú a blanco con opacidad*/
  border-radius: 5px; /*redondea las esquinas de los botones del menú*/
  text-align: center; /*centra el texto del botón*/
  font-weight: 600; /*cambia el peso de la fuente del texto de los botones del menú*/
  color: #333333; /*cambia el color del texto de los botones del menú*/
  cursor: pointer; /*cambia el cursor al pasar sobre el botón*/
  text-decoration: none; /*elimina el subrayado del enlace*/
  transition: background 0.3s ease; /*anima el fondo de los botones del menú al pasar el mouse por encima*/
}

/*estilos para los botones del menú al pasar el mouse por encima o al estar activos*/
.menu-buttons a:hover,
.menu-buttons a.active {
    background: #d14662; /*cambia el fondo de los botones del menú al pasar el mouse por encima o al estar activos*/
    color: white; /*cambia el color del texto de los botones del menú al pasar el mouse por encima o al estar activos*/
}

/*estilos para el contenedor principal*/
.content {
  width: 65%; /*establece el ancho del recuadro de contenido.*/
  background: #e6dbdb; /*establece el fondo del recuadro de contenido.*/
  padding: 40px; /* establece el espacio entre el contenido y el borde del contenedor */
  overflow-y: auto; /* permite el desplazamiento vertical si el contenido es demasiado grande */
  display: flex; /* hace que el contenido se muestre en la parte superior y inferior */
  flex-direction: column; /* hace que el contenido se muestre en columnas */
  justify-content: center; /*centra el contenido horizontalmente*/
  align-items: center; /*centra el contenido verticalmente*/
  text-align: center; /* centra el texto dentro del contenedor */
}

/*estilos para el título*/
.title {
  font-size: 24px; /*establece el tamaño de la fuente del título*/
  font-weight: 600; /*establece el peso de la fuente del título*/
  margin-bottom: 20px; /*establece el espacio entre el título y el siguiente elemento*/
  margin-top: 39px; /*establece el espacio entre el título y el siguiente elemento*/
  color: #333333; /*cambia el color del título*/
}

/*estilos para los botones*/
button {
  background: #d14662; /*cambia el fondo de los botones*/
  color: white; /*cambia el color del texto de los botones*/
  padding: 12px 20px; /*establece el espacio entre el borde del botón y el contenido del botón*/
  border: none; /*elimina el borde del botón*/
  border-radius: 5px; /*redondea las esquinas del botón*/
  font-size: 14px; /*establece el tamaño de la fuente del botón*/
  cursor: pointer; /*cambia el cursor al pasar sobre el botón*/
  margin: 5px; /*establece el espacio entre los botones*/
  transition: background 0.3s ease, transform 0.3s ease; /*anima la página en un instante.*/
}

/*estilos para los botones*/
button:hover {
  background: #a00e41; /*cambia el fondo de los botones al pasar el mouse por encima*/
  transform: translateY(-2px); /*desplaza el botón hacia abajo*/
}

/*estilos para los botones al estar deshabilitados*/
.table-container {
  width: 100%; /*establece el ancho del contenedor de la tabla*/
  overflow-x: auto; /*permite el desplazamiento horizontal si el contenido es demasiado grande*/
  margin-top: 20px; /*establece el espacio entre el contenedor de la tabla y el siguiente elemento*/
}

/*estilos para la tabla*/
table {
  width: 100%; /*establece el ancho de la tabla*/
  border-collapse: collapse; /*elimina los espacios entre las celdas de la tabla*/
  font-size: 14px; /*establece el tamaño de la fuente de la tabla*/
  text-align: center; /*alinea el texto de la tabla al centro*/
}

/*estilos para el encabezado de la tabla*/
thead {
  background-color: #d14662; /*establece el fondo del encabezado de la tabla*/
  color: white; /*cambia el color del texto del encabezado de la tabla*/
}

/*estilos para las celdas de la tabla*/
th, td {
  padding: 12px; /*establece el espacio entre el borde de la celda y el contenido de la celda*/
  border-bottom: 2px solid #f4b6c2; /*establece el borde de la celda*/
}

/*estilos para las celdas de la tabla al pasar el mouse por encima*/
tbody tr:hover {
  background-color: #fce4ec; /*cambia el fondo de la fila de la tabla al pasar el mouse por encima*/
}

/*estilos para el enlace de cerrar sesión*/
.logout {
  text-align: center; /*alinea el texto al centro*/
  font-size: 12px; /*establece el tamaño de la fuente del enlace de cerrar sesión*/
  color: #333333; /*cambia el color del texto del enlace de cerrar sesión*/
  text-decoration: none; /*elimina el subrayado del texto*/
  margin-top: 20px; /*establece el espacio entre el texto y el siguiente elemento*/
  cursor: pointer; /*cambia el cursor al pasar sobre el botón*/
  transition: color 0.3s ease; /*anima la página en un instante.*/
}

/*estilos para el enlace de cerrar sesión*/
.logout:hover {
  color: #a00e41; /*cambia el color del texto del enlace de cerrar sesión al pasar el mouse por encima*/
  text-decoration: underline; /*establece el subrayado del texto al pasar el mouse por encima*/
}

/* Scrollbar personalizado */
::-webkit-scrollbar {
  width: 10px; /*establece el ancho de la barra de desplazamiento*/
}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #e6dbdb; /*establece el fondo de la pista de la barra de desplazamiento*/
  border-radius: 5px; /*redondea las esquinas de la barra de desplazamiento*/
}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #d14662; /*establece el fondo de la hoja de la barra de desplazamiento*/
  border-radius: 5px; /*redondea las esquinas de la barra de desplazamiento*/
  border: 2px solid #e6dbdb;  /*establece el borde de la barra de desplazamiento*/
}

/* Estilos para la barra de desplazamiento al pasar el mouse por encima */
::-webkit-scrollbar-thumb:hover {
  background-color: #a00e41; /*cambia el fondo de la hoja de la barra de desplazamiento al pasar el mouse por encima*/
}
